@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  height: 100vh;
}

.title {
  font-family: 'Bungee Outline', cursive;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  font-size: 48px;
  text-shadow: 4px 4px 3px rgb(0, 0, 0), 4px 4px 3px rgb(0, 0, 0);
  text-align: center;
}

.title-container {
  position: static;
  height: 60vh;
  width: 100%;
  background-image: url(../img/bg-4-style2.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;

  margin-top: 0;
}

.menu {
  font-family: 'Monoton', cursive;
}

@media only screen and (max-width: 1400px) {
  .title-container {
    height: 45vh;
  }
  .title {
    top: 0;
    line-height: 120px;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .title-container {
    margin-top: 20px;
    height: 25vh;
  }

  .title {
    font-size: 28px;

    line-height: 56px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .title {
    font-size: 20px;

    line-height: 40px;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
